[Unit]
Description=HAProxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name haproxy-server-01 -p 9000:80 blinkmobile/haproxy
ExecStartPost=/usr/bin/docker run --rm --name haproxy-elb-01 -e AWS_ACCESS_KEY=-e AWS_SECRET_KEY= -e AWS_REGION= -e ELB_NAME= coreos/elb-presence
ExecStop=/usr/bin/docker stop haproxy-server-01 haproxy-elb-01
Restart=on-success

[X-Fleet]
X-Conflicts=haproxy.*.service
