global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot      /var/lib/haproxy
  user        haproxy
  group       haproxy
  stats socket /tmp/haproxy.sock level admin

defaults
  mode                    http
  log                     global
  option                  http-server-close
  option                  httplog
  option                  dontlognull
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000

listen stats :9001
  stats enable
  stats uri /

frontend http-in
  bind *:9000
{{#frontends}}
  acl dom_{{subdomain}} hdr_beg(host) {{subdomain}}
  {{#acls}}
  acl path_{{.}} path_beg /{{.}}
  {{/acls}}
  {{#acls}}
  use_backend {{domain}}-{{.}} if dom_{{subdomain}} path_{{.}}
  {{/acls}}
{{/frontends}}

{{#backends}}
backend {{name}}
  {{#servers}}
  server main {{server}}:{{port}} check
  {{/servers}}

{{/backends}}
